<div>
	<fieldset>
	<legend>用 户 信 息</legend>
	<form novalidate method="post" action="/updateUser" name="userForm" class="form-horizontal">
		<div class="form-group">
			<label for="userName" class="col-sm-1 col-md-1 control-label"> 用户名:</label>
			<div class="col-sm-11 col-md-11">
				<input type="text" name="userName"  class="form-control" id="userName"  placeholder="字母, 数字, 下划线"
				ng-model="user.userName" required ng-maxlength="30" ng-disabled="user.userName">
			</div>
		</div>
		<div class="form-group">
			<label for="email"  class="col-sm-1 col-md-1 control-label"> 邮 箱:</label>
			<div class="col-sm-11 col-md-11">
				<input type="email" name="email"  class="form-control" id="email" 
				placeholder="邮箱"
				ng-model="user.email" required ng-maxlength="30" ng-disabled="user.email">
			</div>
		</div>
		<div class="form-group">
			<label for="phone"  class="col-sm-1 col-md-1 control-label">电 话:</label>
			<div class="col-sm-11  col-md-11">
				<input type="text" name="phone"  class="form-control" id="phone" 
				placeholder="电话" 
				ng-model="user.phone" ng-maxlength="30">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 col-md-1 control-label">性 别:</label>
			<div class="col-sm-11 col-md-11">
				<input type="radio" name="gender" id="no" value="1" checked="checked"
				ng-model="user.gender">&nbsp;<label for="no"> 未知 </label>&nbsp;&nbsp;
				<input type="radio" name="gender" id="male" value="2"
				ng-model="user.gender">&nbsp;<label for="male"> 男 </label>&nbsp;&nbsp;
				<input type="radio" name="gender" id="female" value="3"
				ng-model="user.gender">&nbsp;<label for="female"> 女 </label>
			</div>
		</div>
		<div class="form-group">
			<label for="temp"  class="col-sm-1 col-md-1 control-label">模 板:</label>
			<div class="col-sm-11  col-md-11">
				<select name="temp" id="temp" ng-model="user.temp">
					<option value="default">默 认</option>
					<option value="blue">碧海蓝天</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="nickName"  class="col-sm-1 col-md-1 control-label">昵 称:</label>
			<div class="col-sm-11  col-md-11">
				<input type="text" name="nickName"  class="form-control" id="nickName" 
				placeholder="您的昵称" 
				ng-model="user.nickName" ng-maxlength="30">
			</div>
		</div>
		<div class="form-group">
			<label for="blogName"  class="col-sm-1 col-md-1 control-label">博客名:</label>
			<div class="col-sm-11  col-md-11">
				<input type="text" name="blogName"  class="form-control" id="blogName" 
				placeholder="您的博客名称" 
				ng-model="user.blogName" ng-maxlength="30">
			</div>
		</div>
		<div class="form-group">
			<label for="myWord"  class="col-sm-1 col-md-1 control-label">座右铭:</label>
			<div class="col-sm-11  col-md-11">
				<input type="text" name="myWord"  class="form-control" id="myWord" 
				placeholder="您的座右铭" 
				ng-model="user.myWord" ng-maxlength="30">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-offset-1 col-sm-11 col-md-11">
				<button type="submit" class="btn btn-primary"
				 ng-click="save($event)"> 修 改 信 息 </button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-offset-1 col-sm-11 col-md-11">
				<div class="alert alert-danger" ng-show="err" ng-bind="err"></div>
				<div class="alert alert-success" ng-show="succ" ng-bind="succ"></div>
			</div>
		</div>
	</form>
</fieldset>
</div>

