<div class="container">
<article class="row">
  <h3>{{article.title}}</h3>
  <p>{{article.content}}</p>
  <p class="article-footer">
    <a href="/u/{{article.author.userName}}">{{article.author.userName}}</a> 
    发布于 <time>{{article.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</time>
    &nbsp;
    阅读:({{article.viewCounts||0}})
    &nbsp;
    评论:({{article.comments.length||0}})
    &nbsp;
  </p>
  <p class="tag">
    tags:
    <i ng-repeat="t in article.tags"><a href="/tag/{{article.author._id}}/{{t}}">{{t}}</a><span ng-show="!$last">&nbsp;,</span></i>
  </p>
</article>
</div>
<div class="comment">
  <h3>评论: </h3>
  <ul>
      <li ng-repeat="c in article.comments">
        <span>#{{$index+1}}楼 {{ c.author.userName}} 发表于</span>&nbsp;
        <time>{{c.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</time>
        <p>{{c.msg}}</p>
      </li>
  </ul>
    <form novalidate name="commentForm" action="/addComment" method="post" ng-hide="!userInfo">
    <textarea name="msg" id="" cols="80" rows="4" ng-model="comment.msg" required ></textarea>
    <p></p>
    <input type="submit" class="btn btn-primary" ng-click="postCom($event)" value="发表评论">
    <p></p>
    <div class="alert alert-danger" ng-show="commentForm.submitted && commentForm.msg.$error.required">内容不能为空</div>
    </form>
</div>
