<div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
	<form novalidate method="post" action="/reg" name="regForm" class="form-horizontal">
		<fieldset>
			<legend>用 户 注 册</legend>
			<div class="form-group">
				<label for="userName" class="col-sm-2 col-md-2 control-label"> 用户名:</label>
				<div class="col-sm-10">
					<input type="text" name="userName"  class="form-control" id="userName" autofocus="autofocus" placeholder="字母, 数字, 下划线"
					ng-model="user.userName" required ng-maxlength="30" >
					<popover ng-show="regForm.submitted && regForm.userName.$error.required">用户名不能为空</popover>
				</div>
			</div>
			<div class="form-group">
				<label for="password"  class="col-sm-2 col-md-2 control-label"> 密 码:</label>
				<div class="col-sm-10">
					<input type="password" name="password"  class="form-control" id="password" placeholder="最少6位"
					ng-model="user.password" required  ng-minlength="6" ng-maxlength="30">
					<popover ng-show="regForm.submitted && regForm.password.$error.required">密码不能为空</popover>
					<popover ng-show="regForm.submitted && regForm.password.$error.minlength">不能小于6个字</popover>
					<popover ng-show="regForm.submitted && regForm.password.$error.maxlength">不能大于30个字</popover>
				</div>
			</div>
			<div class="form-group">
				<label for="password2"  class="col-sm-2 col-md-2 control-label"> 重复密码:</label>
				<div class="col-sm-10 col-md-10">
					<input type="password" name="password2"  class="form-control" id="password2" placeholder="再输一次密码"
					ng-model="user.password2" compare="password" ng-maxlength="30">
					<popover ng-show="regForm.password2.$error.compare">密码输入不一致</popover>
				</div>
			</div>
			<div class="form-group">
				<label for="email"  class="col-sm-2 col-md-2 control-label"> 邮 箱:</label>
				<div class="col-sm-10 col-md-10">
					<input type="email" name="email"  class="form-control" id="email" 
					placeholder="邮箱"
					ng-model="user.email" required ng-maxlength="30">
					<popover ng-show="regForm.submitted && regForm.email.$error.required">email不能为空</popover>
					<popover ng-show="regForm.submitted && regForm.email.$error.email">email格式不正确</popover>
				</div>
			</div>
			<div class="form-group">
				<label for="phone"  class="col-sm-2 col-md-2 control-label">电 话:</label>
				<div class="col-sm-10  col-md-10">
					<input type="text" name="phone"  class="form-control" id="phone" 
					placeholder="电话" 
					ng-model="user.phone" ng-maxlength="30">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">性 别:</label>
				<div class="col-sm-10 col-md-10">
					<input type="radio" name="gender" id="no" value="1" checked="checked"
					ng-model="user.gender">&nbsp;<label for="no"> 未知 </label>&nbsp;&nbsp;
					<input type="radio" name="gender" id="male" value="2"
					ng-model="user.gender">&nbsp;<label for="male"> 男 </label>&nbsp;&nbsp;
					<input type="radio" name="gender" id="female" value="3"
					ng-model="user.gender">&nbsp;<label for="female"> 女 </label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
					<button type="submit" class="btn btn-lg btn-primary btn-block"
					 ng-click="reg($event)">注 册 用 户</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
					<div class="alert alert-danger" ng-show="err" ng-bind="err"></div>
				</div>
			</div>
		</fieldset>
	</form>
</div>